@import "var.css";

html {
    margin: 0;
    padding: 0;
    font-family: "Arvo", serif;
    color: #333;
    background-color: #fff;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    width: calc(100vw - 64px);
    padding: 0px 32px;
    gap: 12px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

#navbar.hidden {
    transform: translateY(-100%);
}


#navbar {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

nav .toggle-btn {
    color: var(--green);
    font-size: 36px;
    cursor: pointer;
    display: none;
    margin-right: 12px;
}

.dropdown-menu > a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    padding: 0.5rem;
    margin: 0.2rem;
}

.dropdown-menu > a.active {
    color: var(--lightblue);
}

.dropdown-menu > a:hover {
    color: var(--lightblue);
    transform: scale(1.1);
}

.dropdown-menu > a#contato-dropdown {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    padding: 8px 16px;
    outline: 0px;
    background-color: var(--green);
    color: #fff;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}

.dropdown-menu > a#contato-dropwdown:hover {
    background-color: var(--lime);
}

.dropdown-menu {
    z-index: 1;
    display: none;
    text-decoration: none;
    position: absolute;
    top: 80px;
    right: 2rem;
    width: 220px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 150px;
}

.toggle-btn i {
    min-width: 36px;
    color: var(--white)
}

#logo {
    flex: 1;
}

#logo > img {
    height: 46px;
    transition: all 0.2s ease-in-out;
}

#logo > img:hover {
    transform: scale(1.15);
}

#nav-right {
    flex-direction: row;
    justify-content: flex-end;
}


.navigation-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 64px;
}

.navigation-nav > a {
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    font-size: 21px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.navigation-nav > a.active {
    color: var(--lightblue);
}

.navigation-nav > a:hover {
    color: var(--lightblue);
    transform: scale(1.1);
}

a[href="./pages/login"] {
    padding: 0px 16px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

#login > p {
    margin: 0;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
}

#login.active {
    filter: invert(45%) sepia(13%) saturate(1536%) hue-rotate(61deg)
        brightness(93%) contrast(89%);
}

#login:hover {
    filter: invert(45%) sepia(13%) saturate(1536%) hue-rotate(61deg)
        brightness(93%) contrast(89%);
}

#contato {
    padding: 8px 16px;
    color: var(--white);
    background-color: var(--lightblue);
    font-size: 23px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

#contato:hover{
    background-color: var(--blue);
    color: var(--white);
    outline: 3px solid var(--lightblue);
    transform: scale(1.05);
}

#contato.active {
    background-color: var(--blue);
    color: var(--lightblue);
    outline: 3px solid var(--lightblue);
}

@media (max-width: 1011px) {
    #nav-middle {
        display: none;
    }
    #nav-right > a#contato {
        display: none;
    }
    nav .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: flex;
    }
    main {
        margin-top: 28px;
    }
}

@media (max-width: 768px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}
